<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickReview.Outlook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <!-- Configure the folder where you want the code review html to be saved. -->
        <add key="outputFolder" value="C:\code reviews\"/>
        <!-- Whether you want the report to open in a browser. -->
        <add key="openInBrowser" value="false"/>
        <!-- Whether you want the report to open as a new email. -->
        <add key="openAsEmail" value="true"/>
        <!-- Specifies the number of shelvesets you want to display. -->
        <add key="shelvesetToShow" value="5"/>
        <!-- Specifies the email you want to send the shelveset changes to. -->
        <add key="mailTo" value="codereviewteam@example.com"/>

        <!-- Configuration for TFS access. -->
        <!-- This should look like this http://servername:port/tfs -->
        <add key="teamProjectUrl" value="http://tfs2010.blinkbox.local:8080/tfs"/>
        <!-- This should look like this http://servername:port/tfs/web -->
        <add key="teamWebAccessUrl" value="http://tfs2010.blinkbox.local:8080/tfs/web"/>        
    </appSettings>
    <userSettings>
        <QuickReview.Outlook.Properties.Settings>
            <setting name="EmailRecipient" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsLocation" serializeAs="String">
                <value>650, 150</value>
            </setting>
        </QuickReview.Outlook.Properties.Settings>
    </userSettings>
</configuration>
