@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">AWWWWWW!!</h1>
    <h2 class="error">Something bad happened.</h2>
    <h3 class="error">@Model.Exception.ToString()</h3>    
</hgroup>
