html
{
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    background-color: #efeeef;
    border-top: solid 0px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-container
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#container
{
    height: 100%;
}

body > #container
{
    height: auto;
    min-height: 100%;
}

a, #user
{
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

a:link, a:visited, a:active, a:hover
{
    color: #333;
}

header, footer, hgroup, nav, section
{
    display: block;
}

header#header
{
    -webkit-box-shadow: #DDDDDD 0 0 20px, rgba(0, 0, 0, 0) 0 0 0;
    background-color: #000000;
    background-image: url(../Images/header.png);
    background-position: 0 100%;
    background-repeat: initial;
    border-top-color: #111111;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: #DDDDDD 0 0 20px, rgba(0, 0, 0, 0) 0 0 0;
    height: 55px;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
}

header#header nav
{
    border-left-color: #444444;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #111111;
    border-right-style: solid;
    border-right-width: 1px;
}

header#header nav.left
{
    float: left;
    margin-left: 20px;
    font-size: 1.2em;
}

header#header nav.right
{
    float: right;
    font-size: 12px;
}

header#header h1.logo
{
    float: left;
    font-family: 'Denk One' , sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 6px 0;
}

h1
{
    margin-bottom: 30px;
    line-height: 40px;
    font-weight: bold;
    font-size: 30px;
}

header#header h1.logo a
{
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    color: #EEEEEE;
    text-shadow: #111111 1px 2px 0;
}

.cf
{
}

header#header nav > ul > li
{
    border-left-color: #111111;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #444444;
    border-right-style: solid;
    border-right-width: 1px;
    display: block;
    float: left;
}

ul
{
    list-style: disc;
}

ul, ol
{
    margin: 0;
    padding: 0;
}

ul.advantages
{
    margin-left: 20px;
}

li
{
    line-height: 20px;
}

header#header nav > ul > li > a, #user
{
    display: block;
    font-weight: bold;
    height: 54px;
    line-height: 54px;
    padding: 0 25px;
    z-index: 10002;
    color: #EEEEEE;
    text-shadow: #111111 1px 2px 0;
}

header#header nav > ul > li > a:hover
{
    background-image: url(../Images/header-selected.png);
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3
{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 3em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.2em;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper
{
    margin: 0 auto;
    max-width: 75%;
}

#body
{
    background-color: #efeeef;
    clear: both;
    padding-bottom: 120px;
}

.main-content
{
    padding-top: 10px;
}

footer
{
    clear: both;
    position: relative;
    z-index: 10;
    background-image: url(../Images/footer.png);
    font-size: .8em;
    height: 100px;
    margin-top: -100px;
}

.float-left-footer
{
    float: left;
    color: white;
    font-size: 1.2em;
}

/* page elements
----------------------------------------------------------*/

/* page titles */
hgroup.title
{
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2
{
    display: inline;
}

hgroup.title h2
{
    font-weight: normal;
    margin-left: 3px;
}

/* content */
article
{
    float: left;
    width: 70%;
}

aside
{
    float: right;
    width: 25%;
}

.label
{
    font-weight: 700;
}

/* forms */
fieldset
{
    border: 1px;
    border-color: red;
    margin: 0;
    padding: 0;
}

label
{
    font-size: 1.2em;
    font-weight: 600;
}

input
{
    border: 0;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 15px 6px 0;
    padding: 5px 0 5px 5px;
    width: 100%;
}

#select-style
{
    width: 200px;
    display: inline;
    overflow: hidden;
}
.dropdown-style
{
    font-size: 1.2em;
    width: 300px;
    color: black;
    background: white;
    border: 0;
    padding: 5px;
}

/* info and errors */
.error
{
    color: #e80c4d;
}

/* tables
----------------------------------------------------------*/

#table-style
{
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: left;
    margin-top: 1em;
    width: 80%;
}
#table-style th
{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 10px 8px;
    border-bottom: 2px solid black;
}
#table-style tr.shelvesets-row td
{
    border-right: #e2e2e2;
    color: black;
    padding: 6px 8px;
}

#table-style tr.shelvesets-row:hover
{
    background-color: #D7D6D7
}

#settings_menu
{
    border-radius: 5px;
    display: none;
    background: url(../Images/header.png);
    background-size: 100%;
    position: absolute;
    width: 210px;
    z-index: 100;
    border: 1px transparent;
    text-align: left;
    padding: 12px;
    top: 55px;
    margin-top: 5px;
    margin-right: 0px;
    color: white;
    font-size: 12px;
}

#settings_menu input[type=text]
{
    display: block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 13px;
    margin: 0 0 5px;
    padding: 5px;
    width: 200px;
}
#settings_menu p
{
    margin: 0;
}

#settings_menu label
{
    font-weight: normal;
}

.email
{    
    font-size: 16px;
    font-weight: bold;
}

.reportDiv
{
    background-color: white;    
}

.copyButton
{
     width:200px; 
     color:white; 
     text-align:center; 
     border:1px solid black; 
     background-image: url(../Images/header.png);     
     margin:5px 5px 5px 20px; 
     padding:5px; 
     cursor:default;    
     float: right
}

.copyButton:hover
{
     background-image: url(../Images/header-selected.png);
}
