@{
    ViewBag.Message = "About QuickReview";
}

<hgroup class="title">
    <h2>@ViewBag.Message.</h2>    
</hgroup>

<article>
    <p>
        Code Reviews are an important part of the development process because  
        that jfdhdsf BLLALAAAAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!
    </p>
</article>

<aside>
    <h3>Contact</h3>
    <p>
        <span class="label">Email:</span><a href="mailto:bokobza@gmail.com">bokobza@gmail.com</a>     
        <br/>   
        <span class="label">Twitter:</span><a href="https://twitter.com/bokobza" target="_blank">@@bokobza</a>
    </p>    
</aside>