@{
    ViewBag.Message = "About QuickReview";
}
<hgroup class="title">
    <h2>@ViewBag.Message.</h2>    
</hgroup>
<article>
        
    <p>
        QuickReview allows developers to generate an email containing the details of a shelveset subject to code review. <br />
        The generated email contains links to the amended files, the comment on the shelveset and the work items the shelveset applies to.
    </p>
    <br /> 
    <h3>Why should I care about code reviews?</h3>
    <p>
        Code reviews are an important part of the development process.<br />
        By having another developer examine the code written by the first developer, bugs and inconsistencies are found and fixed before the code is committed to the source control.<br />        
    </p>

    <p>The advantages of code reviews :</p>
    <ul class="advantages">
        <li>bugs are found before the code is committed - OK not all bugs, but a lot of them.</li>
        <li>consistency is kept throughout the code</li>
        <li>coding standards and documentation deviations are discovered</li>
        <li>it is a way to re-validate your overall change</li>
        <li>junior developers get the view of the more experienced ones on their code change, and learn from it</li>
        <li>it forces the developer to thoroughly review its solution before submitting - no one wants to show they haven't taken the change seriously / have provided a less than ideal solution</li>
    </ul>
    <p>The advantages of having the code review sent by email:</p>
    <ul class="advantages">
        <li>every member of the team has a view on what's happening with the code</li>
        <li>everybody can comment on the changes</li>
        <li>you keep track of code reviews - good for accountability and future reference</li>
        <li>the code review request can (and should) be sent to the team of developers for whom the code change is relevant.</li>
    </ul>

</article>
<aside>
    <h3>Contact</h3>
    <p>
        <span class="label">Report:</span><a href="https://quickreview.codeplex.com/discussions">Report a bug/Make a suggestion</a>     
        <br/>   
        <span class="label">Email:</span><a href="https://www.codeplex.com/site/users/view/mavenlog" target="_blank">Contact me on Codeplex</a>
    </p>    
</aside>
